FLASK_SECRET_KEY=some-long-random-string

# NEW — External Tenant (CIAM)
SAML_IDP_ENTITY_ID=https://<your tenant id here>.ciamlogin.com/<your tenant id here>//
SAML_IDP_SSO_URL=https://<your ext tenant name here>.ciamlogin.com/<your ext tenant name here>.onmicrosoft.com/saml2
SAML_IDP_X509CERT=<your sso app certificate here>

SMTP_FROM_ADDRESS=<your sender email address>

SAML_DEBUG=false
SAML_ENABLE_SLO=false

APP_VERSION=2.0.0
APP_NAME=Enterprise Identity & Federation Showcase

APP_COMPANY=AK Techno Services Ltd
APP_THEME=enterprise