<!DOCTYPE html>
<html>
<head>

<title>AK~TECHNO IDP-SP SANDBOX</title>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

<style>

body{
background:#0f172a;
color:white;
font-family:system-ui;
}

.container-box{
max-width:600px;
margin:auto;
margin-top:80px;
padding:40px;
background:#1e293b;
border-radius:10px;
box-shadow:0 0 30px rgba(0,0,0,0.4);
text-align:center;
}

.logo{
width:120px;
margin-bottom:20px;
}

.btn-login{
width:100%;
margin-bottom:12px;
font-weight:600;
}

.status{
margin-top:20px;
font-size:14px;
color:#cbd5f5;
}

</style>

</head>

<body>

<div class="container-box">

<!-- Logo placeholder -->
<img src="/static/logo.png" class="logo">

<h3>AK~TECHNO IDP-SP SANDBOX</h3>

<p style="opacity:0.7;">
SAML Authentication & Federation Playground
</p>

<p class="subtitle">
    Explore enterprise federation using Microsoft Entra ID and SAML 2.0.
    Authenticate securely and inspect real-world identity claims.
</p>

<hr>

<a href="/login" class="btn btn-primary btn-login">
Continue with Email
</a>

<a href="/login?provider=google" class="btn btn-danger btn-login">
Continue with Google
</a>

<a href="/login?provider=facebook" class="btn btn-primary btn-login">
Continue with Facebook
</a>

<a href="/login?provider=apple" class="btn btn-dark btn-login">
Continue with Apple ID
</a>

<hr>

{% if authenticated %}

<a href="/claims" class="btn btn-secondary btn-login">
    Developer Diagnostics
</a>

{% endif %}

<div class="status">

{% if authenticated %}

<p>Authenticated as:</p>
<strong>{{ nameid }}</strong>

<br>
Login time: {{ login_time }}

<br><br>

<a href="/claims" class="btn btn-success">
View Claims
</a>

<a href="/logout" class="btn btn-secondary">
Logout
</a>

{% else %}

<p>Not authenticated</p>

{% endif %}

</div>

</div>

</body>
</html>